<main class="main">
    <section class="banner" 

    >
    <img src="/public/imgs/main/banner.webp" width="0" height="0" loading="lazy" style="display: none" alt="banner image">
        <div class="banner__container">
            <div class="banner__inner">
                <h1 class="banner__title">Краб - система</h1>
                <h2 style="padding: 0!important; margin: 0!important;"></h2>
                <h3 class="banner__subtitle">Для быстровозводимых<br>каркасных конструкций</h3>
                <button class="consultation banner__btn">Получить консультацию</button>
            </div>
        </div>
    </section>
    <section class="benefits">
        <div class="benefits__container">
            <div class="benefits__inner">
                <h2 class="benefits__title">ПРЕИМУЩЕСТВА СИСТЕМЫ</h2>
                <ul class="list benefits__list">
                    <li class="item benefits__item">
                        <img loading="lazy" src="public/imgs/main/benefits/bodybuilding.svg" alt="Иконка списка"
                            class="item--img benefits__item--img">
                        <div class="item--text benefits__item--text">
                            <p class="item--title benefits__item--title">Высокая прочность<br>жёсткость и надёжность</p>
                            <p class="item--body benefits__item--body">По прочности соединение с помощью<br>краб-системы
                                ничем не уступает сварке</p>
                        </div>
                    </li>
                    <li class="item benefits__item">
                        <img loading="lazy" src="public/imgs/main/benefits/piggy.svg" alt="Иконка списка"
                            class="item--img benefits__item--img">
                        <div class="item--text benefits__item--text">
                            <p class="item--title benefits__item--title">Низкая стоимость</p>
                            <p class="item--body benefits__item--body">Цена конструкции относительна низка, так как:<br>
                                • Вам не нужно использовать сварочный аппарат;<br>
                                • работу Вы можете сделать своими руками</p>
                        </div>
                    </li>
                    <li class="item benefits__item">
                        <img loading="lazy" src="public/imgs/main/benefits/cycle.svg" alt="Иконка списка"
                            class="item--img benefits__item--img">
                        <div class="item--text benefits__item--text">
                            <p class="item--title benefits__item--title">Возможность многоразового<br> использования</p>
                            <p class="item--body benefits__item--body">Система соединения позволяет перестроить<br>
                                конструкцию – уменьшить, увеличить размеры</p>
                        </div>
                    </li>
                    <li class="item benefits__item">
                        <img loading="lazy" src="public/imgs/main/benefits/montage.svg" alt="Иконка списка"
                            class="item--img benefits__item--img">
                        <div class="item--text benefits__item--text">
                            <p class="item--title benefits__item--title">Простота монтажа</p>
                            <p class="item--body benefits__item--body">Для выполнения работ Вам не требуется<br>
                                специальных знаний, Краб-система<br>
                                закрепляется при помощи болтов и гаек </p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <section class="products" id="product">
        <div class="products__container">
            <div class="products__inner">
                <h2 class="products__title">ВСЕГДА В НАЛИЧИИ</h2>
                <div class="products__wrapper">
                    <% for(key in prod) {%>
                        <div class="products__item">
                            <img loading="lazy" width="302" height="194" src="<%= prod[key].photo %>" alt="Фото изделия">
                            <div class="products__text">
                                <p class="products__text__title"><%= prod[key].name %></p>
                                <div class="products__price">
                                    <p class="products__price--actual"><%= prod[key].price %> руб/комп</p>
                                    <form action="" class="products-form">
                                        <input type="text" aria-label="количество продукта" for="products-form" aria-labelledby="Выбранное количество продукта компании" value="0" class="products-form--value">
                                        <p class="products-form--text">комп.</p>
                                    </form>
                                    <button type="submit" class="products-form--submit">Заказать</button>
                                </div>
                            </div>
                        </div>
                        <% } %>

            </div>
        </div>
    </section>
    <section class="advantages">
        <div class="advantages__container">
            <h2 class="advantages__title">ПОЧЕМУ МЫ?</h2>
            <ul class="list advantages__list">
            </ul>
        </div>
    </section>
    <section class="about">
        <div class="about__container">
            <h2 class="about__title">НАШЕ ПРОИЗВОДСТВО</h2>
            <div class="about__video">
        </div>
        </div>
    </section>
    <section class="application" id="applicat">
        <div class="application__container">
            <div class="application__inner">
                <div class="application__wrapper">
                    <div class="application__top">
                        <h2 class="application__top--title">ОСТАВИТЬ ЗАВЯВКУ</h2>
                        <p class="item--body application__top--subtitle">НА РАСЧЕТ СТОИМОСТИ</p>
                    </div>
                    <div class="application__body">
                        <form action="" class="application__form">
                            <input aria-label="Ввод номера телефона" type="text" placeholder="Номер телефона" class="application__form--tel">
                            <input aria-label="Ввод номера email" type="text" placeholder="E-mail" class="application__form--email">
                            <button type="submit" class="consultation application__sub">Заказать расчёт цены</button>
                            
                            <div class="application__form--footer">
                                <input aria-label="Подтверждение соглашения" type="checkbox" class="application__form--check">
                                <p class="application__form--agreement">Соглашаюсь с 
                                    <span class="application__form--line">условиями передачи данных</span></p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <section class="partners" id="partner">
        <div class="partners__container">
            <h2 class="partners__title">НАШИ ПАРТНЕРЫ</h2>
            <ul class="partners__list">
                <li class="partners__item"><img src="../../public/imgs/main/partners/sev.webp" alt="Северсталь" width="384" height="126" class="partners__img"></li>
                <li class="partners__item"><img src="../../public/imgs/main/partners/zavod.webp" alt="Завод теплиц" width="410" height="98" class="partners__img"></li>
                <li class="partners__item"><img src="../../public/imgs/main/partners/green.webp" alt="Гринхаус" width="322" height="100" class="partners__img"></li>
            </ul>
        </div>
    </section>
    <section class="reviews" id="review">
        <div class="reviews__container">
            <h2 class="reviews__title">ОТЗЫВЫ КЛИЕНТОВ</h2>
            <ul class="reviews__list">
                    <% for(key in rev) {%>
                    <li class="reviews__item">
                        <img src="<%= rev[key].img %>" alt="Клиент <%= rev[key].title %>" class="reviews__img">
                        <div class="reviews__body">
                            <p class="reviews__name"><%= rev[key].title %></p>
                            <p class="reviews__text"><%= rev[key].text %></p>
                        </div>
                    </li>
                    <% } %>
            </ul>
        </div>
    </section>
    <section class="maps" id="map" style="max-width: 1920px; height: 576px; margin: 0 auto;">

    </section>
</main>