    <%- include('partials/head'); %>
<body>
    <%- include('partials/header'); %>
    <%- include('partials/main'); %>
    <%- include('partials/footer'); %>

    <%- include('partials/scripts'); %>
</body>

</html>