    <%- include('partials/head'); %>

    <body>
        <div class="wrapper">
            <%- include('partials/header'); %>
            <%- include('partials/main'); %>
            <%- include('partials/footer'); %>

            <%- include('partials/scripts'); %>
        </div>
    </body>

    </html>